# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/ptau
/cache
/keys
/src/artifacts
/src/artifacts/build-info
/src/artifacts/contracts
/src/artifacts/contracts/Ballot.sol
/src/artifacts/contracts/FakeTornado.sol
/src/artifacts/contracts/Groth16Verifier.sol
/server_files
vote-secrets.txt

# misc
.env