.footer-icons a {
  color: white;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  /* color: #568ee2; */
  color: #86b2f5;
}

.footer-icons img {
  filter: invert(100%);
  transition: filter 0.3s ease;
}

.footer-icons a:hover img {
  filter: brightness(0) saturate(100%) invert(72%) sepia(18%) saturate(1350%) hue-rotate(195deg) brightness(98%) contrast(92%);
}


  