.custom-button {
    background-color: rgba(232, 238, 246, 0.918); /* Ίδιο χρώμα με ημιδιαφάνεια */
    color: #002366; /* Μπλε κείμενο */
    border-radius: 25px; /* Στρογγυλεμένες γωνίες */
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgba(232, 238, 246, 0.5); /*Απαλό περίγραμμα */
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px); /* Blur effect */
    -webkit-backdrop-filter: blur(5px); /* Για Safari */
    width: 160px; /* Μικρότερο πλάτος */
    height: 38px; /* Μικρότερο ύψος */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-button:hover {
    background-color: #367de7; /* Σκούρο μπλε στο hover */
}

.chairperson-svg-on {
    filter: invert(32%) sepia(98%) saturate(525%) hue-rotate(184deg) brightness(94%) contrast(90%);
    width: 28px;
    height: 28px;
}

.chairperson-svg-off {
    filter: invert(1);
    width: 28px;
    height: 28px;
}

.nav-icon img {
    filter: invert(100%);
    transition: filter 0.3s ease;
  }
  
.nav-icon:hover img {
    filter: brightness(0) saturate(100%) invert(72%) sepia(18%) saturate(1350%) hue-rotate(195deg) brightness(98%) contrast(92%);
}

.nav-icon:hover {
    color: #86b2f5;
}
